<h2 style="width: 100%; height: 200px; background-color: red;">Some static text from a new promo section</h2>

{% schema %}
{
  "name": {
    "de": "Promo",
    "en": "Promo",
    "es": "Publicaciones",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "pt-BR": "Posts"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "promo_show_test_text",
      "label": {
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "pt-BR": "Exibir data"
      },
      "default": true
    }
  ]
}
{% endschema %}